@font-face {
    font-family: sanFranRegular;
    src: url(font/SF-UI-Text-Regular.otf);
}

@font-face {
    font-family: sanFranSemibold;
    src: url(font/SF-UI-Text-Semibold);
}

h1 {
    color: black;
    text-align: center;
}

#maindiv {
    background-color: #1b5dc6 ;
    margin: auto;
    width: 450pt;
    padding: 0%;
    
    
    text-align: center;
    font-size: 100%;
    border: 1px solid;
    border-radius: 25px;
    

}

#searchDiv {
    margin-top: 1px;
}

#search-text {
    text-align:center;
    margin-bottom:10px;
}

.search-location-text {
    font-family: sanFranRegular;
    color: white;
    font-size: 16px;
    font-weight:300;
}

#weatherInCity{
    font-family: sanFranSemibold;
    color: white;
    font-size: 22px;
    float: left;
    padding-left: 15px;
}

#weatherIcon{
    float: left;
    padding-left: 15px;
    height: 65px;
    width: 65px;
}

#outsideTemp{
    font-family: sanFranRegular;
    color: white;
    float: left;
    padding-left: 15px;
}

#windSpeed{
    font-family: sanFranRegular;
    color: white;
    float:left;
    padding-left: 15px;
    padding-top: 8px;
    font-size: 18px;
}


#weatherInfo{
    padding-left: 60px;
}


#carTemp {
    
    border-radius: 15px;
    padding-bottom: 2%;
    border-radius: 5;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
    
}

.textBox {
    border: None;
    width: 15%;
    padding: 0px;
    padding-top: 20px;
    color: black;
    
}

ul {
    list-style-type: None;
    margin-left: 5%;
    overflow:auto;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fdfdfd;
    
}

li {
    
    
    height: auto;
    width: 7%;
    float: left;
    border: 1px solid #696969;
    border-right: 0px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}

#carTemp p {
    font-family: sanFranRegular;
    color:white;
}

.textBox{
    font-family: sanFranRegular;
    color:white;
}

.li1 {
    border-top: none;
    border-bottom: none;
    color: white;
    font-family: sanFranRegular;
    
    
}

.li2 {
    border-top: none;
    border-bottom: none;
}

.rightLi {
    border-right: 1px solid #696969;
}



#ul23 {
    height: 78px;
    margin-left: 87px;
    margin-right: 58px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, yellow 50%, red 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, yellow 50%, red 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, yellow 50%, red 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, yellow , red 60%); /* Standard syntax (must be last) */
    
}

