@font-face {
    font-family: sanFranRegular;
    src: url(font/SF-UI-Text-Regular.otf);
}

@font-face {
    font-family: sanFranSemibold;
    src: url(font/SF-UI-Text-Semibold.otf);
}

h1 {
    color: black;
    text-align: center;
}

#maindiv {
    background-color: #1b5dc6 ;
    margin: auto;
    width: 450pt;
    padding: 0%;
    
    
    text-align: center;
    font-size: 100%;
    border: 1px solid;
    border-radius: 5px;
    border-color: white;

}

#searchDiv {
    margin-top: 1px;
}

#search-text {
    text-align:center;
    margin-bottom:10px;
}

.search-location-text {
    font-family: sanFranRegular;
    color: white;
    font-size: 16px;
    font-weight:300;
}

#weatherInCity{
    font-family: sanFranRegular;
    color: white;
    font-size: 20px;
    float: left;
    padding-left: 5%;
}

#weatherIcon{
    float: left;
    padding-left: 5%;
    height: 65px;
    width: 65px;
}

#outsideTemp{
    font-family: sanFranSemibold;
    color: white;
    float: left;
    padding-left: 5%;
    font-size: 20px;
}

#windSpeed{
    font-family: sanFranRegular;
    color: white;
    float:left;
    padding-left: 3%;
    padding-top: 2%;
    font-size: 16px;
}


#tempInfo{
   color: white;
   font-size: 16;
}

#weatherInfo{
    padding-left: 60px;
}


#carTemp {
    
    border-radius: 15px;
    padding-bottom: 2%;
    border-radius: 5;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    text-align: center;
    
}


.textBox {
    font-family: sanFranRegular;
    color:white;
    border: None;
    width: 17%;
    padding: 0px;
    padding-top: 20px;    
}

ul {
    list-style-type: None;
    margin-left: 5%;
    overflow:hidden;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fdfdfd;
    
}

li {
    
    
    height: auto;
    width: 7%;
    float: left;
    border: 1px solid #696969;
    border-right: 0px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}


#carTemp p {
    font-family: sanFranRegular;
}


.li1 {
    border-top: none;
    border-bottom: none;
    color: white;
    font-family: sanFranRegular;
    
    
}

.li2 {
    font-family: sanFranRegular;
    color:white;
    border-top: none;
    border-bottom: none;
}

.rightLi {
    border-right: 1px solid #696969;
}

#zero{
    color: black;
}

#ul23 {
    height: 78px;
    margin-left: 98px;
    margin-right: 47px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FFCC00 20%, red 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #FFCC00  20%, red 70%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #FFCC00  20%, red 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FFCC00  20%, red 70%); /* Standard syntax (must be last) */
    
}

