h1 {
    color: black;
    text-align: center;
}

#maindiv {
    background-color: #78B2FD ;
    margin: auto;
    width: 450pt;
    padding: 0%;
    
    
    text-align: center;
    font-size: 100%;
    border: 2px solid;
    border-radius: 25px;
    

}

#searchDiv {
    margin-top: 1px;
}

#search-text {
    text-align:center;
    margin-bottom:10px;
}

.search-location-text {
    font-size: 16px;
    font-weight:300;
}

#weatherInCity{
    font-size: 22px;
    float: left;
    padding-left: 15px;
}

#weatherIcon{
    float: left;
    padding-left: 15px;
    height: 65px;
    width: 65px;
}

#outsideTemp{
    float: left;
    padding-left: 15px;
}

#windSpeed{
    float:left;
    padding-left: 15px;
    padding-top: 8px;
    font-size: 18px;
}


#weatherInfo{
    padding-left: 60px;
}


#carTemp {
    
    border-radius: 15px;
    padding-bottom: 2%;
    border-radius: 5;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
    
}

.textBox {
    border: None;
    width: 15%;
    padding: 0px;
    padding-top: 20px;
    color: black;
    
}

ul {
    list-style-type: None;
    margin-left: 5%;
    overflow:auto;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fdfdfd;
    
}

li {
    
    
    height: auto;
    width: 7%;
    float: left;
    border: 1px solid #696969;
    border-right: 0px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}

.li1 {
    border-top: none;
    border-bottom: none;
    
}

.li2 {
    border-top: none;
}

.rightLi {
    border-right: 1px solid #696969;
}

.rightLi2 {
    border-bottom-right-radius: 10px;
}

.leftLi2 {
    border-bottom-left-radius: 10px;
}


